@{
    ViewBag.Title = "LoginPage";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<form action="/Home/Login" method="POSt">
    <p>
        <input type="text" name="account" />
    </p>

    <p>
        <input type="text" name="password" />
    </p>

    <p>
        <button>Loign Server...</button>
    </p>
</form>
