@{
    ViewBag.Title = "LoginPage";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<form style="margin-left:10px;" method="post" action="/Home/Login">
    <input type="text" name="account" />

    <input type="text" name="password" />
    <input type="submit" />
</form>
